<!doctype html>

<html>
	<head>
		<title>Some website</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="initial-scale=1.0">
	</head>

	<body>
		<h1>We'll be right back</h1>
		<p>The site is currently being updated.</p>
	</body>
</html>